@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700,800,900&display=swap');

/*Home*/

body {
    background: url("../images/background/Fm-background.jpg") center/cover no-repeat;
    font-family: 'Fira Sans', sans-serif;
    color: silver;
    font-weight: bold;
}

header .col {
    padding: 0;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    color: silver;
    padding-left: 5%;
}

#nav {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background-color: #0c023e;
    font-size: 25px;
    width: 100%;
}

#nav li {
    white-space: nowrap;
    height: 55px;
    margin: 0;
    padding: 8px 0 0 0;
}

a:hover, a:link, a:visited, a:active {
    text-decoration: none;
    color: silver;
}

#no-background-pic {
    background: black;
}

.footer-push-down {
    background-color: black;
    height: 620px;

}

/*The Band*/

.row .band-member img {
    padding-top: 15px;
}

.band-container img {
    border-radius: 100%;
    height: 255px;
    width: 255px;
}

.image-container {
    padding: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.band-member {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.member-bio {
    background-color: rgba(78, 85, 91, 0.8);
    border-radius: 25px;
}

.band-container img {
    float: left;
}

/*Music*/

.audio {
    margin: 30px auto 0 auto;
    text-align: center;
}

.audio-cover-picture img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.audio-title-player {
    height: 200px;
}

.audio-title-player p {
    position: relative;
    top: 30px;
}

.audio-title-player audio {
    position: relative;
    top: 50px;
}

.display-inline-block-setter {
    display: inline-block;
}

.video {
    text-align: center;
    margin-bottom: 60px;
}

/*Events*/

.country-year {
    font-size: 40px;
    margin-top: 10px;
    border-bottom: 5px solid silver;
}

.event-grid {
    text-align: center;
    padding: 0;
    margin: 1px;
}

.grid-item {
    font-size: 25px;
    text-align: center;
    display: inline-block;
    padding: 0;
}

.buy {
    padding: 0;
}

.btn-info {
    margin-bottom: 5px;
}

/*Contact*/

form input {
    margin-top: 40px;
    margin-bottom: 40px;
}

.center-form {
    width: 60%;
    margin: 0 auto;
}

.contact-heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

form .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #0c023e;
    color: silver;
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.social-links .list-inline-item{
    margin: 0 7px;
}

.fab {
    border: 3px solid;
    border-radius: 25%;
    padding: 3px;
}

.facebook-color {
    color: #4267b1;
    background-color: white;
}

.twitter-color {
    color: #1da0f1;
    background-color: white;
}

.youtube-color {
    color: #fd0001;
    background-color: white;
}

.spotify-color {
    color: #1ed660;
    background-color: white;
}

.instagram-color {
    color: #ba2d93;
    background-color: white;
}

@media (min-width: 1367px) {
    .footer-push-down {
        display: none;
    }
}

@media (min-width: 1246px) {
    .margin-left-large {
        margin-top: 10px;
        margin-right: 40px;
        margin-bottom: 10px;
        margin-left: 5%;
    }

    .margin-right-large {
        margin-top: 10px;
        margin-right: 5%;
        margin-bottom: 10px;
        margin-left: 40px;
    }

}

@media (max-width: 1246px) {
    .margin-left-large {
        margin-top: 10px;
        margin-right: 15px;
        margin-bottom: 10px;
        margin-left: 5%;
    }

    .margin-right-large {
        margin-top: 10px;
        margin-right: 5%;
        margin-bottom: 10px;
        margin-left: 15px;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        display: none;
    }


}

@media (max-width: 767px) {
    iframe {
        width: 300px;
        height: 200px;
    }
    .footer-push-down {
        display: none;
    }

}

@media (max-width: 767px) {
    #nav .list-inline-item {
        display: block;
    }

    .bg-dark {
        background-color: #0c023e !important;

    }
}

@media (max-width: 475px) {
    .band-member img {
        float: none;

    }

    .member-bio {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .country-year {
        font-size: 25px;
    }

    .grid-item {
        font-size: 18px;
    }

    .stadium {
        display: none;
    }

    .btn-info {
        padding: 0;
        font-size: 16px;
    }

    .center-form {
        width: 80%;
    }

    .contact-heading {
        font-size: 20px;
    }

    .detail-demand {
        font-size: 18px;
    }

    footer {
        text-align: center;
    }
}

@media (max-width: 400px) {
    #nav {
        font-size: 18px;
    }

    .member-bio {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 374px){
    .fab {
        padding: 1px;
    }
}