@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700,800,900&display=swap');

/*Home*/

body {
    font-family: 'Fira Sans', sans-serif;
    color: #953f3a;
    font-weight: bold;
}

header .col {
    padding: 0;
}

#nav {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #0b2e13;
    font-size: 25px;
}

#nav li {
    height: 55px;
    white-space: nowrap;
    margin: 0;
    padding: 8px 0 0 0;
}

a:hover, a:link, a:visited, a:active {
    text-decoration: none;
    color: #ffc107;
}

/*The Band*/

.band-container img {
    border-radius: 100%;
    height: 255px;
    width: 255px;
}

.image-container {
    padding: 0;
}

.image-container img {
    width: 100%;
}

.band-member {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.member-bio {
    background-color: rgba(78, 85, 91, 0.8);
    border-radius: 25px;
}

.band-container img {
    float: left;
}

/*Music*/

.audio {
    margin: 0 auto;
    text-align: center;
}

.audio-cover-picture img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.audio-title-player {
    height: 200px;
}

.audio-title-player p {
    position: relative;
    top: 30px;
}

.audio-title-player audio {
    position: relative;
    top: 50px;
}

.display-inline-block-setter {
    display: inline-block;
}

.video {
    text-align: center;
    margin-bottom: 60px;
}

/*Events*/

.event-grid {
    text-align: center;
    padding: 0;
    margin: 1px;
}

.grid-item {
    text-align: center;
    display: inline-block;
    padding: 0;
    background-color: #185b30;
    border-radius: 25px;
}

/*Contact*/

form input {
    margin-top: 40px;
    margin-bottom: 40px;
}

.center-form {
    width: 60%;
    margin: 0 auto;
}

.contact-heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}


footer {
    background-color: #0b2e13;
}

@media (min-width: 1246px) {
    .margin-left-large {
        margin-top: 10px;
        margin-right: 40px;
        margin-bottom: 10px;
        margin-left: 5%;
    }

    .margin-right-large {
        margin-top: 10px;
        margin-right: 5%;
        margin-bottom: 10px;
        margin-left: 40px;
    }

}

/*kell egy media @ a iframenek hogy responzive legyen*/

@media (max-width: 1246px) {
    .margin-left-large {
        margin-top: 10px;
        margin-right: 15px;
        margin-bottom: 10px;
        margin-left: 5%;
    }

    .margin-right-large {
        margin-top: 10px;
        margin-right: 5%;
        margin-bottom: 10px;
        margin-left: 15px;
    }
}

@media (max-width: 475px) {
    .band-member img {
        float: none;

    }

    .member-bio {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    #nav {
        font-size: 18px;
    }

    .member-bio {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

